html, body {
    background-color: pink;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.fuf-logo span {
    position: relative;
}

.fuf-logo * {
    transition: all 0.2s ease-in-out;
}

.fuf-logo *:hover {
    color: rgba(0,0,0,0);
}

.fuf-logo :nth-child(9) {
    animation-name: heavy-bobbing;
    animation-duration: 2s;
    animation-delay: -13.37s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.fuf-logo :nth-child(10) {
    animation-name: heavy-bobbing;
    animation-duration: 5s;
    animation-delay: -13.37s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.fuf-logo :nth-child(11) {
    animation-name: heavy-bobbing;
    animation-duration: 3s;
    animation-delay: -13.37s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes up {
    from { top: 0.0em; }
    to { top: -0.1em; }
}

@keyframes bobbing {
    from { top: 0.05em; }
    to { top: -0.05em; }
}

@keyframes heavy-bobbing {
    from { top: 0.1em; }
    to { top: -0.1em; }
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 0px;
    margin: 0px;
    box-shadow: 1px 1px 3px rgba(0.0, 0.0, 0.0, 0.2);
}

body>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body>div>* {
    flex-shrink: 1;
}

body>div>div {
    flex-grow: 1;
}

body>div>footer {
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0.0, 0.0, 0.0, 0.2);
}

.red {
    color: #E08;
}

.title {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.page-title {
}

.page-subtitle {
    margin-top: -1.0em;
    font-weight: normal;
}

article {
    max-width: 50em;
    margin: auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav .option {
    margin: 1em;
    font-weight: 600;
    text-transform: capitalize;
    padding: 1em;
    margin: 0em;
    color: inherit;
    text-decoration: inherit;
}

nav .option:hover {
    color: rgba(0, 0, 0, 0.5);
}

nav .option.selected {
    font-weight: 800;
    text-decoration: underline;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
}

.big-letter {
    font-weight: 800;
}

img {
    width: 80%;
    display: block;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0.0, 0.0, 0.0, 0.2);
}

.ge-count {
    font-size: 120%;
    font-weight: 800;
}

.link {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.link * {
    padding: 1em;
}

.invisible {
    display: none;
}

.thought-list {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
}

.thought {
    
}

.thought-title {
    margin-bottom: 0.5em;
}

.thought-body {

}

.thought-footer {
    margin-top: 0.3em;
}

.thought-footer .spacing {
    width: 1em;
    display: inline-block;
}
