body {
    background-color: pink;
    font-family: sans-serif;
}

.fuf-logo span {
    position: relative;
}

.fuf-logo * {
    transition: all 0.2s ease-in-out;
}

.fuf-logo *:hover {
    color: rgba(0,0,0,0);
}

.fuf-logo :nth-child(9) {
    animation-name: heavy-bobbing;
    animation-duration: 2s;
    animation-delay: -13.37s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.fuf-logo :nth-child(10) {
    animation-name: heavy-bobbing;
    animation-duration: 5s;
    animation-delay: -13.37s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.fuf-logo :nth-child(11) {
    animation-name: heavy-bobbing;
    animation-duration: 3s;
    animation-delay: -13.37s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes up {
    from { top: 0.0em; }
    to { top: -0.1em; }
}

@keyframes bobbing {
    from { top: 0.05em; }
    to { top: -0.05em; }
}

@keyframes heavy-bobbing {
    from { top: 0.1em; }
    to { top: -0.1em; }
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 4em;
    margin-bottom: 5em;
}

.page-title {
}

.page-subtitle {
    margin-top: -1.0em;
    font-weight: normal;
}

article {
    max-width: 40em;
    margin: auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav .option {
    margin: 1em;
    font-weight: 600;
    text-transform: capitalize;
}

nav .option a {
    color: inherit;
    text-decoration: inherit;
}

nav .option a:hover {
    color: rgba(0, 0, 0, 0.5);
}

nav .option.selected {
    font-weight: 800;
    text-decoration: underline;
}

.big-letter {
    font-weight: 800;
}
